.container{
    display:flex;
    justify-content: center;
    gap:10em;
    padding-top: 2em;
}

.container-item{
    display:flex;
    justify-content: center;
    padding-top: 2em;
}

.selection-image{
    height:10em;
    width:10em;
}
